/*// post-details.html - блок з інфою про пост зверху. Коментарі - по 4 в ряд.*/
/*// Всі елементи котрі характеризують users, posts, comments візуалізувати, так, щоб було видно що це блоки (дати фон. марджини і тд)*/
.postInnerDiv {
    display: flex;
    justify-content: center;
    background: cornflowerblue;
    gap: 10px;
}

.commentsDiv {
    display: flex;
    justify-content: center;
    background: cornflowerblue;
    gap: 10px;
}

.buttonCommentsDiv {
    display: flex;
    justify-content: center;
    background: cornflowerblue;

}

.postSecondInnerDiv {
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
    background: #36cd98;
    margin-top: 10px;
    margin-bottom: 10px;
}

.commentsInnerDiv {
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #36cd98;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.commentsButton {
    min-width: 90%;
    background: lightblue;
    border-radius: 5px;
    margin-bottom: 10px;
}