/*// Стилизація проєкта -*/
/*// index.html - всі блоки з user - по 2 в рядок. кнопки/аосилвння розташувати під інформацією про user.*/

* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 390px;
    background: cornflowerblue;
    justify-content: center;
    align-content: center;
    gap: 15px;
}
.userDiv {
    min-width: 48%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    border-radius: 10px;
    background: #36cd98;
    border: 2px solid black;
}
.userBtn {
    min-width: 10%;
    background: lightblue;
    border-radius: 5px;
    height: 30px;
}