/*// user-details.html - блок з інфою про user зверху сторінки. Кнопка нижчє, на 90% ширини сторінки, по центру.*/
/*// блоки з короткою іфною про post - в ряд по 5 .*/

* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    background: cornflowerblue;
    gap: 10px;
}

.userDiv {
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #36cd98;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.buttonDiv {
    display: flex;
    justify-content: center;
    background: cornflowerblue;

}

.userPostsButton {
    min-width: 90%;
    background: lightblue;
    border-radius: 5px;
    margin-bottom: 10px;
}

.containerDiv {
    background: cornflowerblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    min-height: 100px;
    column-gap: 10px;
    gap: 10px;
}
.postDiv {
    background: #36cd98;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.postBtn {
    background: lightblue;
    border-radius: 5px;
    height: 30px;
}